@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #111827;
  color: white;
}

body::-webkit-scrollbar {
  width: 0;
}

.product-img {
  width: 100%;
  height: 19.5rem;
}

@media only screen and (max-width: 767px) {

  /* Your styles for mobile devices here */
  .product-img {
    width: 100%;
    height: 17.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

  /* Your styles for tablets here */
  .product-img {
    height: 15rem;
    max-width: 320px;
  }
}